.background {
    background: linear-gradient(to top, #99ffcc 0%, #0066ff 100%);
}

.text {
  color: white;
}

.taskbar {
  text-align: center;
  font-family: Calibri, sans-serif;
  margin: 10px;
  color: white;
  background-color: blue;
  padding: 5px;
  border-radius: 50%;
  width: 100px;
  height: 75px;
  box-shadow: 0 5px #666;
}
.taskbar:active {
  background-color: green;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.bigbox {
  text-align: center;
  height: 15px;
  line-height: 15px;
}
